source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Core
nuget Gluon
nuget Gluon.Client
nuget Microsoft.AspNet.WebApi.OwinSelfHost
nuget Microsoft.Owin
nuget Microsoft.Owin.StaticFiles
nuget Newtonsoft.Json
nuget Owin